<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watayouxiang.permission">

    <application>
        <activity
            android:name=".dialog.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/TaoPermissions.Transparent" />
    </application>
</manifest>
